body {
  padding-top: 52px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

html,body {
	height:100%;
}

body {
  overflow: hidden;
}

.navbar-default {
  background-color:#fafafa;
  min-height: 40px;
  border-width:0;
}
  
.navbar-default a.navbar-brand {
  color:#FC1298;
  font-size:22px; 
  font-weight:800;
  text-shadow:0 0 1px rgba(255,0,210, 0.4);
}

.navbar-default li>a,.navbar-brand {
 padding-top: 11px;
 padding-bottom: 11px;
 line-height:19px;
}

.navbar-toggle {
	padding:5px;
}

.row {
    margin-left:0;
    margin-right:0;
}

.row .sp {
   height:250px;
   min-height:45px;
   padding-right:0;
   padding-left: 0;
   border-bottom:4px solid transparent;
}

.row .sp.toolbar {
	padding-bottom:30px;
    height:240px;
}

.last {
	height:100%;
}

.outer {
  border:0px #000 solid;
  height:100%;
}

.preview {
  overflow-y: auto;
  overflow-x: hidden;
}

.resize {
}

.pane-settings {
  background: #002B36;
  color:#b3b1b1;
  position: absolute;
  z-index: 199;
  padding: 3px;
  font-size: 16px;
  opacity: .8;
  right: 5px;
  top: 0;
  margin: 0;
}
  
.pane-panel {
  background: #001a25;
  color:#b3b1b1;
  position: absolute;
  z-index: 198;
  right: 5px;
  top: 28px;
  margin: 0;
  width:220px;
  min-height:100px;
  display:none;
}

input[type=radio], input[type=checkbox] {
	vertical-align:middle;
    margin-top:-1px;
}
.pane-panel .row > [class*='col-']{
	color:#000;
    padding:4px;
    font-size:12px;
}
.pane-panel .row > [class*='col-']:nth-child(1) {
    background-color: rgba(240,240,240,.4);
}
.pane-panel .row > [class*='col-']:nth-child(2) {
    background-color: rgba(240,240,240,.5);
}
.pane-panel .row > [class*='col-']:nth-child(3) {
    background-color: rgba(240,240,240,.6);
}
.pane-panel .row > [class*='col-']:nth-child(4) {
    background-color: rgba(240,240,240,.7);
}
.pane-panel .row > [class*='col-']:nth-child(5) {
    background-color: rgba(240,240,240,.8);
}
    
.pane-label {
  font-family: monospace;
  background: #002B36;
  color:#b3b1b1;
  position: absolute;
  z-index: 199;
  padding: 3px;
  font-size: 11px;
  opacity: .7;
  right: 10px;
  bottom: 10px;
  margin: 0;
}

.wrapper {
	width:100%;
    min-height: 100%;
	height: 100%;
    overflow:hidden;
}

.inner {
	overflow-y:auto;
    overflow-x:hidden;
    min-height:100%;
}
      
.navbar-block {
    background-color:#FC1298;
	position:absolute;
    z-index:2;
    border:0 #eee solid;
    right:24px;
    top:24px;
    height:215px;
    width:150px;
    display:none;
}

.ui-resizable { }
.ui-resizable-handle { position: absolute;font-size: 0.1px;z-index: 99999; display: block; }
.ui-resizable-e {
	background-color: #666;
	border-right: 1px solid #222;
	border-left: 1px solid #222;
    width:10px;
    z-index: 88 !important;
}
.ui-resizable-e:after {
    content: "-";
    display: block;
    position: absolute;
    top: calc(50% - 16px);
    left: 0;
    height: 25px;
    width: 2px;
    background-color:rgba(0,0,0,0.4);
    margin:3px;
}
.ui-resizable-s {
	background-color: #666;
    border-top: 1px solid #222;
	border-bottom: 1px solid #222;
    height:10px;
}
.ui-resizable-s:after {
    content: "-";
    display: block;
    position: absolute;
    top: 0;
    left: calc(50% - 12px);
    height: 2px;
    width: 25px;
    background-color:rgba(0,0,0,0.4);
    margin:3px;
}

.input-xs {
  height: 21px;
  padding: 1px 4px;
  font-size: 9px;
  line-height: 1;
  border-radius:2px;
  width:120px;
  display:inline;
}


.editable {
  float:left;
  margin-right:2px;
  border:1px #ddd solid;
  padding:1px;
  line-height: 1.5;
  border-radius:2px;
}

.selp {

}

.btn-group.bootstrap-select {
	padding:0;
    margin:0;
    outline:0;
    float:left;
    margin-right:2px;
    margin-bottom:1px;
}

.btn-group.open, .dropdown-menu, .btn-group.open .dropdown-toggle {
	box-shadow:0 0 0;
}

.btn-group {
  border-color: #ccc;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
}

.bootstrap-select .btn:focus {
    outline:0 !important;
}

.filter-option > span {
	
}

::-webkit-scrollbar {
    width: 0.9em;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    background: rgba(100, 100, 100, 0.7);
}

::-webkit-scrollbar-corner,
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(100, 100, 100, 0.4);
}

.ace_autocomplete {
  width: 270px;
  z-index: 200000;
  background: #666;
  color: #eee;
  border: 0 lightgray solid;
  position: fixed;
  box-shadow: 2px 3px 5px rgba(0,0,0,.2);
  line-height: 1.4;
}

.slick-header-column.ui-state-default {
    font-family: arial;
    font-size: 8pt;   
}

.slick-row.ui-widget-content, .slick-cell {
    font-size: 8px;
    font-family: arial;
}

.slckgrid * {
  font-family: arial;
  font-size: 12pt;
}


.grid-header {
  border: 1px solid gray;
  border-bottom: 0;
  border-top: 0;
  background: url('../images/header-bg.gif') repeat-x center top;
  color: black;
  height: 24px;
  line-height: 24px;
}

.grid-header label {
  display: inline-block;
  font-weight: bold;
  margin: auto auto auto 6px;
}

.grid-header .ui-icon {
  margin: 4px 4px auto 6px;
  background-color: transparent;
  border-color: transparent;
}

.grid-header .ui-icon.ui-state-hover {
  background-color: white;
}

.grid-header #txtSearch {
  margin: 0 4px 0 4px;
  padding: 2px 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border: 1px solid silver;
}

.options-panel {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border: 1px solid silver;
  background: #f0f0f0;
  padding: 4px;
  margin-bottom: 20px;
  width: 320px;
  position: absolute;
  top: 0px;
  left: 650px;
}

/* Individual cell styles */
.slick-cell.task-name {
  font-weight: bold;
  text-align: right;
}

.slick-cell.task-percent {
  text-align: right;
}

.slick-cell.cell-move-handle {
  font-weight: bold;
  text-align: right;
  border-right: solid gray;

  background: #efefef;
  cursor: move;
}

.cell-move-handle:hover {
  background: #b6b9bd;
}

.slick-row.selected .cell-move-handle {
  background: #D5DC8D;
}

.slick-row .cell-actions {
  text-align: left;
}

.slick-row.complete {
  background-color: #DFD;
  color: #555;
}

.percent-complete-bar {
  display: inline-block;
  height: 6px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

/* Slick.Editors.Text, Slick.Editors.Date */
input.editor-text {
  width: 100%;
  height: 100%;
  border: 0;
  margin: 0;
  background: transparent;
  outline: 0;
  padding: 0;

}

.ui-datepicker-trigger {
  margin-top: 2px;
  padding: 0;
  vertical-align: top;
}

/* Slick.Editors.PercentComplete */
input.editor-percentcomplete {
  width: 100%;
  height: 100%;
  border: 0;
  margin: 0;
  background: transparent;
  outline: 0;
  padding: 0;

  float: left;
}

.editor-percentcomplete-picker {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 100%;
  background: url("../images/pencil.gif") no-repeat center center;
  overflow: visible;
  z-index: 1000;
  float: right;
}

.editor-percentcomplete-helper {
  border: 0 solid gray;
  position: absolute;
  top: -2px;
  left: -9px;
  background: url("../images/editor-helper-bg.gif") no-repeat top left;
  padding-left: 9px;

  width: 120px;
  height: 140px;
  display: none;
  overflow: visible;
}

.editor-percentcomplete-wrapper {
  background: beige;
  padding: 20px 8px;

  width: 100%;
  height: 98px;
  border: 1px solid gray;
  border-left: 0;
}

.editor-percentcomplete-buttons {
  float: right;
}

.editor-percentcomplete-buttons button {
  width: 80px;
}

.editor-percentcomplete-slider {
  float: left;
}

.editor-percentcomplete-picker:hover .editor-percentcomplete-helper {
  display: block;
}

.editor-percentcomplete-helper:hover {
  display: block;
}

/* Slick.Editors.YesNoSelect */
select.editor-yesno {
  width: 100%;
  margin: 0;
  vertical-align: middle;
}

/* Slick.Editors.Checkbox */
input.editor-checkbox {
  margin: 0;
  height: 100%;
  padding: 0;
  border: 0;
}

.slickgrid {
    background-color: #eeeeee;
}

.slick-header-column {
    background-color: #505050 ;
}

.slick-header-column.ui-state-default {
    background:none ;
    background-color: #505050 ;
    color: #eeeeee;  
    border-width: 0 2px 0 2px;  
    padding: 0;
    text-shadow: none;
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 13px;
    height: 40px;
    line-height: 40px;
    padding: 0 15px 0 15px;
}

.slick-cell {
    background: none;
    background-color: #eeeeee;
    color: #666666;
    border: none;
    border-bottom: solid 1px #ffffff;
    font-size: 13px;
    height: 40px;
    padding: 0 15px 0 15px;
}

/*.slick-row.ui-widget-content, .slick-cell {
    background: none;
    background-color: #eeeeee;
    color: #666666;
    border: none;
    border-bottom: solid 1px #ffffff;
    font-size: 13px;
    height: 40px;
    line-height: 60px;
    padding: 0 15px 0 15px;
}*/

